<!DOCTYPE HTML>
<html>
    <head>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ousted</title>
        <link rel="stylesheet" href="oStyle.css"/>
        
    </head>
    <body>
        <div id="game">
            <img id="back" :src="gameBackgroundImage"/>
            <div id="background">
                <img :src="backgroundImage"/>
                <div id="hero">
                    <img :src="heroImage"/>
                </div>
                <div id="enemy">
                    <img :src="enemyImage"/>
                </div>
                <div id="strike">
                    <img :src="strike"/>
                </div>
            </div>
            <div id="output">
                <div id="statText">
                    <ul>Your home, the village of Sardina, was just burned to the ground by a ball of fire that fell from the sky.
                        Living in the middle of the forest has its advantages, though the closest town is 3 days away on foot. 
                        You know of a merchant to the SouthWest, but first you must make your way through the forest to find the road.
                        Your only posessions are the clothes on your back and an old dull sword (2-5 DMG).</ul>
                </div>
                <div id="text">
                    <ul></ul>
                </div>
                <div id="attText">
                    <ul></ul>
                </div>
                <li v-if="location == 'merchantCamp'" >
                    <div id="merch">
                        <span v-if="!item.shortSword">
                            <button @click="resetWeapon(); setShortSword(); equip()">Purchase Reliable Steel Short Sword: Dmg 3-6, 10g</button></span>
                        <span v-if="!item.longSword">
                            <button @click="resetWeapon(); setLongSword(); equip()">Purchase Heavy Iron Long Sword: Dmg 4-9, dex -1, 15g</button></span>
                        <span v-if="!item.leatherArmor">   
                            <button @click="resetArmor(); setLeatherArmor(); equip()">Purchase Leather Armor: 15g</button></span>
                        <span v-if="!item.mercurialBoots">   
                            <button @click="setMBoots(); equip()">Purchase Mercurial Dancing Boots: evade +1, 100g</button></span>                     
                        <button @click="eelSauce()">Drink Magic EEl Sauce, Heal 50hp 8g</button>
                        <button @click="setSauce()">Purchase EEL Sauce to go, Heal 25hp in battle, 5g</button>
                        <button @click="setExplosive()">Purchase Powder Bomb, 15dmg to enemy, 5g</button>
                    </div>
                </li>
                <li v-if="location == 'cityProper'" >
                    <!--///////////////////// MAKE MESSAGE BOARD ////////////////////////-->
                    <div id="merch">
                        <span v-if="!item.magicDagger">
                            <button @click="resetOffHand(); setMagicDagger(); equip()">Purchase Jeweled Dager(off-hand): minDMG +1 dex +1, 30g</button></span>
                        <span v-if="!item.magicShield">
                            <button @click="resetOffHand(); setMagicShield(); equip()">Purchase Crested Shield(off-hand): maxHP +25, 30g</button></span>
                        <span v-if="!item.bastardSword">   
                            <button @click="resetWeapon(); setBastardSword(); equip()">Purchase Frozen Bastard Sword: DMG 6-12, dex -1, 1/6 chance STUN, 70g</button></span>
                        <span v-if="!item.voidRapier">   
                            <button @click="resetWeapon(); setVoidRapier(); equip()">Purchase Void Rapier: DMG 5-11, Leech 1hp from enemy on hit, 60g</button></span>                     
                        <button @click="eelSauce()">Get a room at the INN, Heal 75hp, 15g</button>
                        <button @click="setSauce()">Purchase EEL Sauce to go, Heal 25hp in battle, 8g</button>
                        <button @click="setExplosive()">Purchase Powder Bomb, 15dmg to enemy, 5g</button>
                    </div>
                </li>
            </div>
            <div id="actionBlock">
                <div id="playerOutput">
                    <div>                          
                        <li>Equip: {{weapon}} </li>
                        <li>DMG: {{player.minDmg}}-{{player.maxDmg}} </li>
                        <li>dex: {{player.dex}} </li>
                        <li>ev: {{player.evade}} </li>              
                        <li v-if="potion">pot: 1</li>
                        <li v-else>potion: 0</li>
                        <li v-if="dynamite">bomb: 1</li>
                        <li v-else>bomb: 0</li>
                        <li>G: {{player.gold}} </li>
                        <li>P: {{player.points}} </li>             
                    </div>
                </div>
                <div id="health">
                    <strong><li>HP: {{player.hp}}</li></strong>
                </div>
                <div id = "enemyOutput">
                    <div>
                        <li v-if="holdName == ''"><strong>Foe: {{enemy.hp}}</strong></li>
                        <li v-else>Foe: 0</li>
                    </div>
                </div>
                <div>
                    <div v-if="activeBattle && !player.stunned" id="fightButtons">
                        <li><button @click="battle()">Attack!</button></li>
                        <li><button @click="flee()">Flee!</button></li>
                        <li v-if="chapter = 1"><button @click="explosive()">Bomb</button></li>
                        <li v-else-if="chapter = 2"><button @click="explosive()">TNT</button></li>
                        <li><button @click="sauce()">Heal</button></li>
                    </div>
                    <!--handle stunned status-->
                    <ul v-else-if="enemy.hp > 0 && player.stunned" id="decisions">
                        <button @click="unStun(); enemyAttack()">Break Stun Status</button></ul>
                </div>  
            </div>    
            <div id="buttons">
                
                
                <!--location tracker and setter, based on location. roads lead to areas, after
                    road battles (3), the direction decision buttons will show, unless you are in an
                    are "safe zone" (merchant camp, city proper, chapter 2: home, tomb entrance)-->
                    <!--players can  search AREAS (not roads) as much as they want-->

                <ul id="decisions">
                    <div id="advance">
                        <!--next enemy encounter-->
                        <div v-if="!activeBattle && !npcEncounter && battleCount > 0 && battleCount < 3">
                            <button @click="getEnemy()">Continue Onward</button>
                        </div>
                        <div v-else-if="location == 'start' && player.hp > 0">
                            <button @click="chooseClass()">START!</button>
                        </div>
                        <div v-if="!hunter && !fighter && !farmer && location == 'forest'" >
                            <button @click="setHunter(); getEnemy()">Hunter</button>
                            <button @click="setFighter(); getEnemy()">Fighter</button>
                            <button @click="setFarmer(); getEnemy()">Farmer</button>
                        </div>
                    </div>              
                <div v-if="enemy.hp == 0" id="directions" >
                    <!------------ chapter 1 ----------------->
                    <!--begin-->
                    <li v-if="location == 'forest' && battleCount > 2 && player.hp > 0" >
                        <!--calling setBattCount(0) hard resets the count to 0 -->
                        <button @click="setLocation('merchantRoad'); setDirection('W'); setBattCount(0); getEnemy()">To the Merchant Camp</button>
                        <button @click="setLocation('swampRoad'); setDirection('E'); setBattCount(0); getEnemy()">Through the Swamp</button></li>
                    <!--on merchant road-->
                    <div v-if="holdName == 'Bandit'">                     
                        <button @click="choiceEncounter()">YES</button>
                        <button @click="npcFalse(); battCount(); setEnemy(enemyZero)">NO</button>
                    </div>
                    <li v-if="location == 'merchantRoad' && battleCount > 2" >
                        <button @click="merchantCamp();">Enter Merchant Camp</button></li>
                    <!--on swamp road-->
                    <div v-if="holdName == 'Wraith'">                     
                        <button @click="choiceEncounter()">YES</button>
                        <button @click=" npcFalse(); battCount(); setEnemy(enemyZero)">NO</button>
                    </div>
                    <li v-if="location == 'swampRoad' && direction == 'E' && battleCount > 2" >
                        <button @click="lake()">To the Lake</button></li>
                    <li v-if="location == 'swampRoad' && direction == 'W' && battleCount > 2" >
                        <button @click="merchantCamp();">Enter Merchant Camp</button></li>
                    <!--at lake-->
                    <li v-if="location == 'lake'" >
                        <div v-if="holdName == 'Lady of the Lake'">                     
                            <button @click="resetWeapon(); setPhantomBane(); equip(); ladyFalse(); setBattCount(3); npcFalse(); setEnemy(enemyZero)">YES</button>
                            <button @click="ladyFalse(); setBattCount(3); npcFalse(); setEnemy(enemyZero)">NO</button>
                        </div>
                        <div v-else>
                            <button @click="setLocation('swampRoad'); setDirection('W'); setBattCount(0); getEnemy()">Back to the Merchant Camp</button>
                            <button @click="setBattCount(2); getEnemy()">Keep searching area</button>
                        </div>
                    </li>
                    <!--at merchant camp-->
                    <li v-if="location == 'merchantCamp'" >
                        <div id="destination">
                            <button @click="setLocation('cityRoad'); setDirection('S'); setBattCount(0); getEnemy()" >Road to the City</button>
                            <button @click="setLocation('mountainRoad'); setDirection('W'); setBattCount(0); getEnemy()">Trail to the Mountain</button>
                            <button @click="setLocation('swampRoad'); setDirection('E'); setBattCount(0); getEnemy()">Through the Swamp</button>
                        </div>
                    </li>
                        <!--in city proper-->
                    <li v-if="location == 'cityProper'" >
                        <div id="destination">
                            <button @click="setLocation('city'); setBattCount(2); getEnemy()">To city streets</button>
                            <button @click="setLocation('cityRoad'); setDirection('N'); setBattCount(0); getEnemy()">Back to the Merchant Camp</button>
                        </div>
                        <div id="destination" v-if="!npc.chaosDemonBoss">
                            <button @click="setBattCount(0); nextChapter()">Talk to the Wagon Driver</button>
                        </div>
                    </li>                      
                    <!--in city streets-->
                    
                    <li v-if="location == 'city'" >
                        <div v-if="holdName == 'Greasy Vandal'">                     
                            <button @click="choiceEncounter()">YES</button>
                            <button @click="npcFalse(); seBattCount(2); setEnemy(enemyZero)">NO</button>
                        </div>
                        <div v-else>
                            <button @click="cityProper()">Back to City Proper</button>
                            <button @click="setBattCount(2); getEnemy()">Keep searching area</button>
                        </div>
                    </li>
                    <!--on city road-->
                    <div v-if="holdName == 'Thrall'">                     
                        <button @click="choiceEncounter()">YES</button>
                        <button @click="npcFalse(); battCount(); setEnemy(enemyZero)">NO</button>
                    </div>
                    <li v-if="location == 'cityRoad' && direction == 'S' && battleCount > 2" >
                        <button @click="cityProper(); setBattCount(0)">Enter the City</button></li>
                    <li v-if="location == 'cityRoad' && direction == 'N' && battleCount > 2" >
                        <button @click="merchantCamp(); setBattCount(0)">Enter the Merchant Camp</button></li>
                    <!--on mountain-->
                    <li v-if="location == 'mountain'" >
                        <button @click="setLocation('mountainRoad'); setDirection('E'); setBattCount(0);; getEnemy()">Back to the Merchant Camp</button>
                        <button @click="getEnemy(); setBattCount(2)">Keep searching area</button></li>
                    <!--on mountain road-->
                    <li v-if="location == 'mountainRoad' && direction == 'W' && battleCount > 2" >
                        <button @click="mountainTop(); setBattCount(0);; getEnemy()">To the Mountain Top</button></li>
                    <li v-if="location == 'mountainRoad' && direction == 'E' && battleCount > 2" >
                        <button @click="merchantCamp(); setBattCount(0);">Enter the Merchant Camp</button></li>             
                </div>
                </ul>
            </div>
            
            <div id="nautical">
                <li>Compass: {{direction}}</li>
            </div>
        </div>
    </div>>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript" src="game.js"></script> 
    </body>
</html>