<!DOCTYPE HTML>
<html>
    <head>
        
        <title>Ousted</title>
        <link rel="stylesheet" href="oStyle.css"/>
        
    </head>
    <body>
        <div id="game">
            <div id="background">
                <img :src="backgroundImage"/>
            </div>
            <div id="text">
                P<li></li>
            </div>
            <div id="attText">
                E<li></li>
            </div>
            <div id="buttons">
                <ul v-if="enemy.hp > 0" id="decisions">
                    <li><button v-on:click="attack">Attack!</button></li>
                    <li><button v-on:click="flee">Flee!</button></li>
                    <li><button v-on:click="dynamite">dynamite</button></li>
                    <li><button v-on:click="heal">heal</button></li>
                </ul>
                <ul v-if="enemy.hp == 0" id="directions" >
                    <li><input type="submit" id="north" value="N"/></li>
                    <li><input type="submit" id="west" value="W"/></li>
                    <li><input type="submit" id="east" value="E"/></li>
                    <li><input type="submit" id="south" value="S"/></li>

                    <li><button v-on:click="getEnemy">Battle!</button></li>
                    <li><button v-on:click="resetEnemy">reset enemy hp</button></li>
                    <li><button v-on:click="enemyAttack">Enemy attack</button></li>

                                
                </ul>
            </div>
            <div id = "enemyOutput">
                <ul>
                    <li>Enemy: {{enemy.name}} </li>
                    <li>Ability: {{enemy.ability}} </li>
                    <li v-if="enemy.hp > 0" >HP: {{enemy.hp}} </li>
                    <li v-else>HP: -</li>
                    <li>Attack: {{enemy.attackStyle}} </li>
                    <li>Min Dmg: {{enemy.minDmg}} </li>
                    <li>Max Dmg: {{enemy.maxDmg}} </li>
                    <li>Min Hit: {{enemy.minHit}} </li>
                    <li>Max Hit: {{enemy.maxHit}} </li>
                    <li>Min Flee: {{enemy.minFlee}} </li>
                    <li>Max Flee: {{enemy.maxFlee}} </li>
                    <li>To Hit: {{enemy.toHit}} </li>
                    <li>Gold: {{enemy.gold}} </li>
                    <li>Points: {{enemy.points}} </li>
                </ul>
            </div>
            <div id="playerOutput">
                <ul>
                    <li>HP: {{player.hp}} </li>
                    <li>Min DMG: {{player.minDmg}} </li>
                    <li>Max DMG: {{player.maxDmg}} </li>
                    <li>Dex: {{player.dex}} </li>
                    <li>Evade: {{player.evade}} </li>
                    <li>Gold: {{player.gold}} </li>
                    <li>Points: {{player.points}} </li>
                </ul>
            </div>
           
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript" src="game.js"></script> 
    </body>
</html>