<!DOCTYPE HTML>
<html>
    <head>
        
        <title>Ousted</title>
        <link rel="stylesheet" href="oStyle.css"/>
        
    </head>
    <body>
        <div id="game">
                <img id="back" :src="gameBackgroundImage"/>
            <div id="playerOutput">
                <h3>PLAYER</h3>
                <ul>                  
                    <li>Weapon: {{weapon}} </li>
                    <li>Min DMG: {{player.minDmg}} </li>
                    <li>Max DMG: {{player.maxDmg}} </li>
                    <li>Dex: {{player.dex}} </li>
                    <li>Evade: {{player.evade}} </li>              
                    <li>Sauce: {{potion}}</li>
                    <li>Explosive: {{dynamite}}</li>
                    <li>Gold: {{player.gold}} </li>
                    <li>Points: {{player.points}} </li>
                    <li><h4>HP: {{player.hp}}</h4></li>
                </ul>
            </div>
            <div id="background">
                <img :src="backgroundImage"/>
            </div>
            <div id="hero" v-if="enemy.hp > 0">
                <img :src="heroImage"/>
            </div>
            <div id="enemy" v-if="enemy.hp > 0">
                <img :src="enemyImage"/>
            </div>
            <div id = "enemyOutput">
                <h3>ENEMY</h3>
                <ul>
                    <li>Enemy: {{enemy.name}} </li>
                    <li v-if="enemy.poison" >Ability: Poison</li>
                    <li v-else-if="enemy.stun">Ability: Stun</li>
                    <li v-else-if="enemy.vamp">Ability: Leech </li>
                    <li v-else>Ability: None</li>            
                    <li>Min Dmg: {{enemy.minDmg}} </li>
                    <li>Max Dmg: {{enemy.maxDmg}} </li>
                    <li>To Hit: {{enemy.toHit}} </li>
                    <li>Gold: {{enemy.gold}} </li>
                    <li>Points: {{enemy.points}} </li>
                    <li><h4>HP: {{enemy.hp}}</h4></li>
                </ul>
            </div>
            <div id="buttons">
                <ul v-if="enemy.hp > 0 && player.hp > 0 && !player.stunned" id="decisions" class="fight">
                    <li><button v-on:click="battle()">Attack!</button></li>
                    <li><button v-on:click="flee()">Flee!</button></li>
                    <li v-if="chapter = 1"><button v-on:click="explosive()">Powder Bomb</button></li>
                    <li v-else-if="chapter = 2"><button v-on:click="explosive()">Dynamite</button></li>
                    <li><button v-on:click="sauce()">Heal</button></li>
                </ul>
                <!--handle stunned status-->
                <ul v-else-if="enemy.hp > 0 && player.stunned" id="decisions">
                    <button v-on:click="unStun(); enemyAttack()">Break Stun Status</button></ul>
                
                <!--location tracker and setter, based on location. roads lead to areas, after
                    road battles (3), the direction decision buttons will show, unless you are in an
                    are "safe zone" (merchant camp, city proper, chapter 2: home, tomb entrance)
                    ///////////////////// which will show immediately  (need to complpete)////////////////////////-->
                    <!--players can  search AREAS (not roads) as much as they want-->
                <ul id="decisions" class="sButton">
                    <div v-if="location == 'start' && enemy.hp == 0 && battleCount == 0">
                        <button v-on:click="chooseClass()">START!</button></div>
                    <div v-if="!hunter && !fighter && !farmer && location == 'forest'" >
                        <button v-on:click="setHunter()">Hunter</button>
                        <button v-on:click="setFighter()">Fighter</button>
                        <button v-on:click="setFarmer()">Farmer</button>
                    </div>
                        <!--next enemy encounter-->
                    <div v-else-if="location != 'start' && location != 'forestRoad' && enemy.hp == 0 && battleCount < 3 || location != 'start' &&
                                    location == 'forestRoad' && enemy.hp == 0 && battleCount < 5">
                        <button v-on:click="getEnemy()">Continue Onward</button></div>
                </ul>
                <ul v-if="enemy.hp == 0" id="directions" >
                    <!------------ chapter 1 ----------------->
                    <!--begin-->
                    <li v-if="location == 'forest' && battleCount == 3 && player.hp > 0" >
                        <!--calling battCount() resets the count to 0 if at 3-->
                        <button v-on:click="setLocation('merchantRoad'); setDirection('W'); battCount(); getEnemy()">To merchant road</button>
                        <button v-on:click="setLocation('swampRoad'); setDirection('E'); battCount(); getEnemy()">To swamp road</button></li>
                    <!--on merchant road-->
                    <li v-if="location == 'merchantRoad'" >
                        <div v-if="enemyHold.name == 'Bandit'">                     
                            <button v-on:click="choiceEncounter()">YES</button>
                        </div>
                    </li>
                    <li v-if="location == 'merchantRoad' && battleCount == 3" >
                        <button v-on:click="merchantCamp();">To merchant camp</button></li>
                    <!--on swamp road-->
                    <li v-if="location == 'swampRoad'" >
                        <div v-if="enemyHold.name == 'Wraith'">                     
                            <button v-on:click="choiceEncounter()">YES</button>
                        </div>
                    </li>
                    <li v-if="location == 'swampRoad' && direction == 'E' && battleCount == 3" >
                        <button v-on:click="setLocation('lake')">To the Lake</button></li>
                    <li v-if="location == 'swampRoad' && direction == 'W' && battleCount == 3" >
                        <button v-on:click="merchantCamp();">To merchant camp</button></li>
                    <!--at lake-->
                    <li v-if="location == 'lake'" >
                        <div v-if="enemy.name == 'Lady of the Lake' && npc.lady == true">                     
                            <button v-on:click="resetWeapon(); setPhantomBane(); equip(); ladyFalse()">YES</button>
                        </div>
                        <div v-else>
                            <button v-on:click="setLocation('swampRoad'); setDirection('W'); setBattCount(0); getEnemy()">To merchant camp</button>
                            <button v-on:click="setBattCount(2); getEnemy()">Keep searching area</button>
                        </div>
                    </li>
                    <!--at merchant camp-->
                    <li v-if="location == 'merchantCamp'" >
                        <div id="merch">
                            <span v-if="!item.shortSword">
                                <button v-on:click="resetWeapon(); setShortSword(); equip()">Purchase Reliable Steel Short Sword: Dmg 3-6, 10g</button></span>
                            <span v-if="!item.longSword">
                                <button v-on:click="resetWeapon(); setLongSword(); equip()">Purchase Heavy Iron Long Sword: Dmg 4-9, dex -1, 15g</button></span>
                            <span v-if="!item.leatherArmor">   
                                <button v-on:click="resetArmor(); setLeatherArmor(); equip()">Purchase Leather Armor: 15g</button></span>
                            <span v-if="!item.mercurialBoots">   
                                <button v-on:click="setMBoots(); equip()">Purchase Mercurial Dancing Boots: evade +1, 100g</button></span>                     
                            <button v-on:click="eelSauce()">Drink Magic EEl Sauce, Heal 50hp 8g</button>
                            <button v-on:click="setSauce()">Purchase EEL Sauce to go, Heal 25hp in battle, 5g</button>
                            <button v-on:click="setExplosive()">Purchase Powder Bomb, 15dmg to enemy, 5g</button>
                        </div>
                        <div id="destination">
                            <button v-on:click="setLocation('cityRoad'); setDirection('S'); setBattCount(0); getEnemy()" >To city road</button>
                            <button v-on:click="setLocation('mountainRoad'); setDirection('W'); setBattCount(0); getEnemy()">To mountain road</button>
                            <button v-on:click="setLocation('swampRoad'); setDirection('E'); setBattCount(0); getEnemy()">To swamp road</button>
                        </div>
                    </li>
                        <!--in city proper-->
                    <li v-if="location == 'cityProper'" >
                        <!--setBattCount(2) allows for only 1 battle before direction options are shown again.
                        This is true for all AREAS (not roads)-->
                        <!--///////////////////// MAKE MESSAGE BOARD ////////////////////////-->
                        <div id="merch">
                            <span v-if="!item.magicDagger">
                                <button v-on:click="resetOffHand(); setMagicDagger(); equip()">Purchase Jeweled Dager(off-hand): minDMG +1 dex +1, 30g</button></span>
                            <span v-if="!item.magicShield">
                                <button v-on:click="resetOffHand(); setMagicShield(); equip()">Purchase Crested Shield(off-hand): maxHP +25, 30g</button></span>
                            <span v-if="!item.bastardSword">   
                                <button v-on:click="resetWeapon(); setBastardSword(); equip()">Purchase Frozen Bastard Sword: DMG 6-12, dex -1, 1/6 chance STUN, 70g</button></span>
                            <span v-if="!item.voidRapier">   
                                <button v-on:click="resetWeapon(); setVoidRapier(); equip()">Purchase Void Rapier: DMG 5-11, Leech 1hp from enemy on hit, 60g</button></span>                     
                            <button v-on:click="eelSauce()">Get a room at the INN, Heal 75hp, 15g</button>
                            <button v-on:click="setSauce()">Purchase EEL Sauce to go, Heal 25hp in battle, 8g</button>
                            <button v-on:click="setExplosive()">Purchase Powder Bomb, 15dmg to enemy, 5g</button>
                        </div>
                        <div id="destination">
                            <button v-on:click="setLocation('city'); setBattCount(2); getEnemy()">To city streets</button>
                            <button v-on:click="setLocation('cityRoad'); setDirection('N'); setBattCount(0); getEnemy()">To merchant camp (via city road)</button>
                        </div>
                        <div id="destination" v-if="!npc.chaosDemonBoss">
                            <button v-on:click="setBattCount(0); nextChapter()">Next Chapter</button>
                        </div>
                    </li>                      
                    <!--in city streets-->
                    
                    <li v-if="location == 'city'" >
                        <div v-if="enemyHold.name == 'Greasy Vandal'">                     
                            <button v-on:click="choiceEncounter()">YES</button>
                        </div>
                        <button v-on:click="cityProper()">To city proper</button>
                        <button v-on:click="setBattCount(2); getEnemy()">Keep searching area</button></li>
                    <!--on city road-->
                    <li v-if="location == 'cityRoad'" >
                        <div v-if="enemyHold.name == 'Thrall'">                     
                            <button v-on:click="choiceEncounter()">YES</button>
                        </div>
                    </li>
                    <li v-if="location == 'cityRoad' && direction == 'S' && battleCount == 3" >
                        <button v-on:click="cityProper(); battCount()">To city proper</button></li>
                    <li v-if="location == 'cityRoad' && direction == 'N' && battleCount == 3" >
                        <button v-on:click="merchantCamp(); battCount()">To merchant camp</button></li>
                    <!--on mountain-->
                    <li v-if="location == 'mountain'" >
                        <button v-on:click="setLocation('mountainRoad'); setDirection('E'); battCount(); getEnemy()">To merchant camp (via mountain road)</button>
                        <button v-on:click="getEnemy(); setBattCount(2)">Keep searching area</button></li>
                    <!--on mountain road-->
                    <li v-if="location == 'mountainRoad' && direction == 'W' && battleCount == 3" >
                        <button v-on:click="setLocation('mountain'); battCount(); getEnemy()">To mountain</button></li>
                    <li v-if="location == 'mountainRoad' && direction == 'E' && battleCount == 3" >
                        <button v-on:click="merchantCamp(); battCount()">To merchant camp</button></li>             
                </ul>
            </div>
            <div id="statText">
                <ul>Your home, the village of Sardina, was just burned to the ground by a ball of fire that fell from the sky.
                    Living in the middle of the forest has its advantages, though the closest town is 3 days away on foot. 
                    You know of a merchant to the SouthWest, but first you mush make your way through the forest to find the road.
                    Your only posessions are the clothes on your back and your Splitting Axe (2-5 DMG).</ul>
            </div>
            <div id="text">
                <ul></ul>
            </div>
            <div id="attText">
                <ul></ul>
            </div>
            <div id="nautical">
                <li>Compass: {{direction}}</li>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript" src="game.js"></script> 
    </body>
</html>