
#game{
    position: relative;
    width: 98%;
    border: 10px solid rgb(51, 50, 49);
}
#back{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -99;
    background-repeat: no-repeat;
    box-shadow: 0px 10px rgb(51, 50, 49);
}
#back img{
    object-fit: cover;
}
#background{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 47.5%;
    height: 63%;
    border: 5px solid rgb(51, 50, 49);
    box-shadow: 0px 3px rgb(34, 32, 28);
    border-radius: 10px;
    z-index: 1;

}
#background img{
    width: 100%;
}
#hero img{
    border: none;
    box-shadow: none;
    z-index: 2;
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 70%;
}
#enemy img{
    border: none;
    box-shadow: none;
    z-index: 2;
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 40%
}
#strike img{
    border: none;
    box-shadow: none;
    z-index: 3;
    position: absolute;
    bottom: 0%;
    right: 3%;
    width: 50%
}
#output{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 47%;
    height: 70%;
    background-color: rgb(102, 79, 63);
    border: 5px solid rgb(51, 50, 49);
    border-radius: 10px;
    box-shadow: 3px 3px rgb(34, 32, 28) inset, 3px 0px rgb(34, 32, 28);
    z-index: 4;
}
#text, #attText, #statText{
    display: block;
    float: left;
    width: 95%;
    color: white;
    font-size: 2vw;
    text-align: center;
}
#statText{
    margin-top: 1%;
    margin-left: 1%;
}
#actionBlock{
    position: absolute;
    top: 67%;
    left: 1%;
    width: 49%;
}
#playerOutput{
    display:block;
    float:left;
    width: 30%;
    margin-left: 1.5%;
    border: 5px solid rgb(51, 50, 49);
    box-shadow: 0px 3px rgb(34, 32, 28);
    border-radius: 5px;
    z-index: 1;
    background-color: rgb(102, 79, 63);
    color: white;

}
#health{
    display:block;
    float:left;
    margin-left: 1%;
    width: 27%;
    border: 5px solid rgb(51, 50, 49);
    box-shadow: 0px 3px rgb(34, 32, 28);
    border-radius: 5px;
    z-index: 1;
    list-style: none;
    font-size: 2vw;
    text-align: center;
    background-color: lightskyblue;
    color: white;
    text-shadow: 2px 2px black;
}
#health li{
    margin-top: 0.5%;
}
#enemyOutput{
    display:block;
    float:left;
    margin-left: 1%;
    width: 27%;
    border: 5px solid rgb(51, 50, 49);
    box-shadow: 0px 3px rgb(34, 32, 28);
    border-radius: 5px;
    z-index: 1;
    list-style: none;
    font-size: 2vw;
    text-align: center;
    background-color: lightcoral;
    color: white;
    text-shadow: 2px 2px black;
}
#enemyOutput li{
    margin-top: 0.5%;
}
#playerOutput div{
    width: 95%;
    margin: 0.25%;
    list-style: none;
}
#playerOutput li{
    display: block;
    float: left;
    clear:left;
    width: 90%;
    margin: 0.25%;
    margin-left: 2.5%;
    font-size: 1.25vw;
    list-style: none;
}
#buttons{
    position: absolute;
    top: 70.5%;
    right: 1%;
    width: 45%;
}
#buttons button{
    text-align: center;
    text-decoration: none;
    border:none;
    border-radius: 5px;
    box-shadow: 3px 3px black;
    font-size: 2vw;
    z-index: 99;
    margin: 0.5%;
}
#buttons button:hover{
    background-color: rgb(143, 142, 142);
}
#decisions button:active {
    box-shadow: 3px 1px black, 3px 3px black inset;
}
#fightButtons{
    list-style: none;
    position: absolute;
    width: 65%;
    top: 34%;
    left: 36%;
    
}
#fightButtons button{
    display: block;
    float: left;
    width: 45%;
    text-align: center;
    text-decoration: none;
    border:none;
    border-radius: 5px;
    box-shadow: 3px 3px black;
    font-size: 2vw;
    z-index: 99;
    margin-top: 1%;
    border: 5px solid rgb(51, 50, 49);
    box-shadow: 0px 3px rgb(34, 32, 28);
}
#fightButtons button:hover{
    background-color: rgb(143, 142, 142);
}
#fightButtons button:active {
    box-shadow: 3px 1px black, 3px 3px black inset;
}
#decisions{
    display: block;
    float: right;
    clear: right;
    width: 100%;
    margin-right: 3%;
}
#decisions button{
    width: 100%;
}
#merch{
    display: block;
    position: absolute;
    width: 99%;
    left: 0.5%;
    bottom: 0.5%;
    border: 3px solid gold;
    border-radius: 10px;
    z-index: 2;
}
#merch button{
    background-color: slategray;
    color:white;
    text-align: center;
    display: block;
    float: left;
    clear: left;
    text-decoration: none;
    border:none;
    box-shadow: 3px 3px black;
    border-radius: 5px;
    font-size: 1.5vw;
    margin: 5px;
}
#merch button:hover{
    background-color: rgb(143, 142, 142);
}
#merch button:active {
    box-shadow: 3px 1px black, 3px 3px black inset;
}

#nautical{
    position: absolute;
    bottom: 0%;
    left: 45%;
}